{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'record/css/test.css' %}">
    <script src="{% static 'record/js/test.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>テストページです</h1>
    {% if content %}
        <p>あなたのコメント: {{ content }}</p>
    {% else %}
        <p>コメント: no-comment</p>
    {% endif %}

    <p>選択した科目: {{ selected_subject }}</p>
    <p>計測した時間: {{ elapsed_time }}</p>

        <div>
            <button>
                <a href="{% url 'top' %}">戻る</a>
            </button>
        </div>
    </form>
</body>
</html>