{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'record/css/test.css' %}">
    <script src="{% static 'record/js/test.js' %}"></script>
    <title>学習記録</title>
</head>
<body>
    <h1>学習記録</h1>
    <div class="timeline">
        {% for record in records %}
        <div class="timeline-item">
            <p>登録日時: {{ record.created_at|date:"Y年m月d日 H:i" }}</p>
            <p>科目: {{ record.subject }}</p>
            <p>コメント: {{ record.comment }}</p>
            <p>時間: {{ record.elapsed_time }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="back-button">
        <button>
            <a href="{% url 'priv' %}">戻る</a>
        </button>
    </div>
</body>
</html>
