body{
    background-color:aliceblue
}

.post{
    background-color: aquamarine;
}

.photo{
    width: 450px;
    height: 300px;
}

.topbutton{
    font-size: 30px;
    padding-left: 70px; 
    padding-right: 70px; 
    flex-grow: 1;
    margin-left: 3.7px;
}

#title{
    background-color: yellow;
    padding-left: 15px;
}
