body {
    background-color: aliceblue;
    margin: 0; /* コンテンツ全体の余白をリセット */
    padding-top: 50px; /* ヘッダーの高さ分の余白を追加 */
}

h1{
    position: relative;
    left: 30px;
    top:-50px
}

.post{
    background-color: aquamarine;
    padding: 10px;
}

.photo{
    width: 100px;
    height: 100px;
}

.topbutton{
    display: inline-block;
    flex-grow: 1;
    background-color: black;
    cursor: pointer; 
    text-align: center;
    text-decoration: none;
    border: 2px solid rgb(115, 119, 121);
    width: 100%;
    font-size: 22px;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    color: aliceblue;
}



#app_name {
    padding-left: 15px;
    margin: auto 0;
    font-size: 50px;
    color: white;
    display: flex;
    padding-top: 4x;
    align-items: center;
    position: relative;
    top: 4px;
    position: relative;
    left: 10px;
}

.header-area {
    margin: 0;
    height: 80px; /* ヘッダー全体の高さを明確に指定 */
    justify-content: space-between;
    background-color: rgb(36, 39, 147);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* ヘッダーが他の要素よりも上に表示されるようにする */
}

.tab-container {
    margin-top: 0;
    border-radius: 0.5rem;
    display: flex;
}
.tab-container > a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.tab-container > a:hover {
    background-color: #5ab1c9e6;
}

.Icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    right: 30px;
    top: 10px;
}

.top_head {
    display: flex;
    margin: 0;
    align-items: center; /* 縦方向のセンタリング */
}

@media (max-width:768px) {
    .header-area {
    }
    #app_name {
        font-size: 35px;
    }
    .Icon {
        width: 50px;
        height: 50px;
        right: 20px;
        top: 15px;
    }
    .topbutton {
        font-size: 12px;
        padding: 20px 2px;
    }
    .top_head {
        padding: 5px 0;
    }
}

.post_info{
    position: relative;
    left: 20px;
    bottom: 60px;
}

.app_icon{
    height: 65px;
    width: 65px;
    position: relative;
    left: 15px;
}

.timeline-info-contents{
    position: relative;
    top: 120px;
}

