body {
    margin: 0; /* コンテンツ全体の余白をリセット */
}

h2{
    font-size: 30px;
    padding-top: 0;
}

.user-icon{
    background-color: black;
    height: 200px;
    width: auto;

}

.profile-info{
    display: flex;
    position: relative;
    top: 10px;
    left: 10px;
}
.user_info{
    margin-left: 10px;
}

.edit{
    position: relative;
    top: 20px;
    left: 10px;
}

.profile-edit{
    position: relative;
    top: 20px;
    left: 10px;
}