{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>profile-edit</title>
  </head>

  <body>
    <header class="header-area">
      <div class="top_head">
        <img class="app_icon" src="{% static 'img/App_icon.png' %}"><h1 id="app_name">StudyNET</h1>
        <a href="{% url 'view_profile' %}">
          <img src="{{ user.userprofile.avatar.url }}" alt="User Avatar" class="Icon">
        </a>
      </div>
      <div class="tab-container">
        <a href="{% url 'priv' %}" class="topbutton">学習記録</a>
        <a href="{% url 'timeline' %}" class="topbutton">タイムライン</a>
        <a href="{% url 'task_list' %}" class="topbutton">やること</a>
        <button class="topbutton">カウントダウン</button>
      </div>
    </header>

    {% block content %}
    <div class="profile-edit">
    <h1>{{ user.username }}さんのプロフィールを編集</h1>
    
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">保存</button>
    </form>
    <a href="{% url 'view_profile' %}">戻る</a>
    {% endblock %}
    </div>
  </body>
</html>