<html lang="ja"><head><meta charset="utf-8"></head>
  <body>
    <h1>ログイン</h1>

    {% if user.is_authenticated %}
    <p>{{ user.username }}さん！こんにちは</p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">ログアウト</button>
    </form>
    <hr>
    <p><a href="{% url 'priv' %}">アプリへ移動</a></p>
    {% else %}
    <p>ログインしてください</p>
    <p><a href="{% url 'login' %}">ログイン</a></p>
    <p><a href="{% url 'register'%}">アカウント作成</a></p>
    {% endif %}
</body>
</html>