{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
</head>
<body>
    <header class="header-area">
        <h1 id="app_name">アプリ名</h1>
        <img class="user_icon" src="{% static 'img/Player_mod_128.png' %}">
    </header>
    <div class="tab-container">
        <!--urlのあとはその機能のurls.pyで飛びたいページのパスのnameを書く-->
        <a href="{% url 'priv'%}" class="topbutton">学習記録</a>
        <a href="{% url 'timeline'%}" class="topbutton">タイムライン</a>
        <button class="topbutton">やること</button>
        <button class="topbutton">カウントダウン</button>
    </div>
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <table>
    <tr>
        {% for col in header %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.mail }}</td>
        <td>{% if not employee.gender %}男{% endif %}
        {% if employee.gender %}女{% endif %}
        </td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.year }}</td>
        <td>{{ employee.created_at }}</td>
        <td>
        <form action="{% url 'webtestapp:delete' id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="削除">
        </form>
        </td>
    </tr>
    </table>
</body>
</html>