<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>テストWebアプリ</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
    <script src="{% static 'todo/js/todo.js' %}"></script>
</head>
<body>
    <header class="header-area">
        <h1 id="app_name">アプリ名</h1>
        <img class="user_icon" src="{% static 'img/Player_mod_128.png' %}">
    </header>
    <div class="tab-container">
        <!--urlのあとはその機能のurls.pyで飛びたいページのパスのnameを書く-->
        <a href="{% url 'priv'%}" class="topbutton">学習記録</a>
        <a href="{% url 'timeline'%}" class="topbutton">タイムライン</a>
        <button class="topbutton">やること</button>
        <button class="topbutton">カウントダウン</button>
    </div>
    <h2>index.html表示してます</h2>
    <p>{{ insert_something }}</p>
    <p>作成者は<b id='test'>{{ name }}</b>です。</p>

    <p>{{ insert_forms|linebreaksbr }}</p>
    <table>
      <form action="{% url 'webtestapp:index' %}" method="post">
          {% csrf_token %}
          <tr>
            <td></td>
            <td>入力フォーム</td>
          </tr>
          {{ form.as_table }}
          <tr>
            <td></td>
            <td><input type="submit" value="送信"></td>
          </tr>
      </form>
    </table>
    
    <p>作成者は<b id="test">{{ name }}</b>です。</p>
    <h3>タイトル表示</h3>
    <ul>
      {% for title in test_titles %}
        {% if title == 'title 2' %}
          <li>{{ title }}</li>
        {% elif title == 'title 3' %}
          <li>見せられないよ</li>
        {% else %}
          <li>xxxx</li>
        {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>