{% extends 'todo/base.html' %}
 
{% block title %}Task List{% endblock %}
 
{% block content %}
  <h1>タスク一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th>タスク</th>
        <th>期日</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- 2.タスクをループ処理で表示 -->
      {% for task in tasks %}
        <tr>
          <td class="task_title">{{ task.title }}</td>
          <td class="task_due_date">{{ task.due_date | date:"Y年m月d日" }}</td>
          <td style="display:flex">
            <button class="btn btn-primary btn-sm toggle-completed">未完了にする</button>
            <a href="{% url 'task_edit' task.id %}" class="btn btn-secondary">編集</a>
            <form method="post" action="{% url 'task_delete' task.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除してもよろしいですか？')">削除</button>
            </form>
          </td>
        </tr>
      <!-- 3.データが存在しない場合 -->
      {% empty %}
        <tr>
          <td colspan="4">タスクがありません</td>
        </tr>
      {% endfor %}
      {% include 'todo/task_form.html' with form=form %}
    </tbody>
  </table>
{% endblock %}