{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
    <script src="{% static 'todo/js/todo.js' %}"></script>
    <title>todo</title>
  </head>
  <body>
    <header class="header-area">
        <div class="top_head">
            <h1 id="app_name">アプリ名</h1>
            <a href="{% url 'view_profile' %}">
              <img src="{{ user.userprofile.avatar.url }}" alt="User Avatar" class="Icon">
            </a>
        </div>
        <div class="tab-container">
            <!--urlのあとはその機能のurls.pyで飛びたいページのパスのnameを書く-->
            <a href="{% url 'priv'%}" class="topbutton">学習記録</a>
            <a href="{% url 'timeline'%}" class="topbutton">タイムライン</a>
            <a href="{% url 'todo:todo_home'%}" class="topbutton">やること</a>
            <button class="topbutton">カウントダウン</button>
        </div>
    </header>
    
    <h2>やることリスト</h2>
    <form action="{% url 'todo:add' %}" method="post">
        {% csrf_token %}
        <input type="text" name="text" placeholder="やることを入力">
    </form>
    <ul>
        {% for task in tasks %}
        <li><a href="{% url 'todo:remove' task.id %}">{{ task.title }}</a></li>
        {% endfor %}
    </ul>
  </body>
</html> 