<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
  <script src="{% static 'todo/js/todo.js' %}"></script>
  <title>ToDo</title>
</head>

<body>
  <p>App_name</p>
    <button class="topButton">学習記録</button>
    <button class="topButton">タイムライン</button>
    <button class="topButton">やること</button>
    <button class="topButton">カウントダウン</button>
    <img src="{% static 'img/Player_mod_128.png' %}">
  <h2>ToDoリスト</h2>
  <div class="listbox">
    <div id="mylist">
      <input type="checkbox" id="checkbox1"><label for="checkbox1">CS概論4</label><br>
      <input type="checkbox" id="checkbox2"><label for="checkbox2">数学FormA</label><br>
      <input type="checkbox" id="checkbox3"><label for="checkbox3">CS演習4</label>
    </div>
    <button id="addButton">追加</button>
  </div>
</body>
</html>