{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'record/css/index.css' %}">
</head>
<body>
    <p>App_name</p>
    <button class="topButton">学習記録</button>
    <button class="topButton">タイムライン</button>
    <button class="topButton">やること</button>
    <button class="topButton">カウントダウン</button>
    <img src="{% static 'img/Player_mod_128.png' %}">

<!-- <p>{{subject1}}</p> -->
    <div class="record-wrap">
        <div class="subject-box">
            <p>科目を選択</p>
            <ul>
            {% for subject in subject_list %}
                <li>{{subject}}</li>
            {% endfor %}
            </ul>
        </div>
        <div id="stopwatch-container">
            <div id="time">00:00:00</div>
            <div id="buttons">
              <input id="start" type="button" value="start">
              <input id="stop" type="button" value="stop">
              <input id="reset" type="button" value="reset">
            </div>
        </div>
        <div class="comment-box">
            <h3 class="comment-title">コメント</h3>
            <form class="comment-form-area" action = "{% url 'form' %}" method="POST" name = "form">
                {% csrf_token %}
                    <textarea class="comment-input" type="text" name="content" placeholder="(例: 完全に理解できた！)"></textarea>
                <div class="comment-submit-container">
                    <input class="comment-submit" type="submit" value="記録する">
                </div>
            </form>
        </div>
    </div>    
    <script src="{% static 'record/js/index.js' %}"></script>
</body>
</html>