<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>学習記録</h1>
<!-- <p>{{subject1}}</p> -->
    <ul>
    {% for subject in subject_list %}
        <li>{{subject}}</li>
    {% endfor %}
    </ul>

    <h3>コメント</h3>
    <form action = "{% url 'form' %}" method="POST" name = "form">
        {% csrf_token %}
        <div>
            <input type="text" name="content">
        </div>
        <div>
            <input type="submit" value="記録する">
        </div>
    </form>
</body>
</html>