{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <script src="{% static 'js/timeline.js' %}"></script>
    <title>Timeline</title>
  </head>

  <body>
    <header class="header-area">
        <h1 id="app_name">アプリ名</h1>
        <img class="user_icon" src="{% static 'img/Player_mod_128.png' %}">
    </header>

    <div class="tab-container">
        <!--urlのあとはその機能のurls.pyで飛びたいページのパスのnameを書く-->
        <a href="{% url 'priv'%}" class="topbutton">学習記録</a>
        <a href="{% url 'timeline'%}" class="topbutton">タイムライン</a>
        <button class="topbutton">やること</button>
        <button class="topbutton">カウントダウン</button>
    </div>

    {% for post in posts %}
    <div class="timeline">
      <div class="timeline-header">
        <img class="user_icon" src="{% static 'img/Snowman_128.png' %}">
        <div class="subject"><h3>科目名:{{post.subject}}</h3></div>
          <h3>時間:[{{post.time}}]
          <button class="like-button">♡</button><span class="like-count">0</span>
        </div>

      <div id="comment">
        <p>コメント:{{post.comment}}</p>
      </div>

      <form method="POST" action="{% url 'confirm_delete' post.id %}">
        {% csrf_token %}
        <button type="submit">削除</button>
    </form>
    </div>
    {% endfor %}
      <a href="{% url 'add_post' %}" class="add-button">
        <img class="plus_icon" src="{% static 'img/plus_icon.png' %}">
      </a>
  </body>
</html>
